
/* In Body würde die minimale Bildschirmauflösung, Hintergrundfarbe bestimt. Mithilfe grid-template-areas wird Bildschirm in bestimte Zonen verteilt. */
/* Bildschirm hat 3 Columns (die mithilfe von grid-template-columns bestimte Breite hat) und 6 Zeilen*/
body {
    min-width: 460px;
    background-color: #F7FAFF;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-areas:"kopf kopf kopf"
                        "kalenderblatt infotext platz"
                        "kalenderblatt geschichte platz"
                        "titel titel titel"
                        "foto foto foto"
                        "fuss fuss fuss"
}

/* @media and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
  } */
/* Meta Tag in CSS gibt  das Wert für Größe und Form des Ansichtsfensters, verschibt Infotext, Überblick in die geschichte und Fotos unter die Kalendar*/
/* Bestimmt wie Groß wird "padding" (für jedes Element) auf die Geräten, dessen Bildschirmbreite weniger als 900px ist */
@media only screen and (max-width: 900px) {
body {
    display: block;
    margin: 0px;
    padding-top: 2%;
    padding-bottom: 2%;    
    padding-left: 2%;
    padding-right: 2%; 
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-areas:"kopf kopf kopf"
                        "kalenderblatt infotext platz"
                        "kalenderblatt geschichte platz"
                        "titel titel titel"
                        "foto foto foto"
                        "fuss fuss fuss"                     

}

table {
    margin: 40px 0px 40px -7px; 
    padding: 5pt;
    width: auto;
    height: auto;
}

#kalenderblatt {
    margin: 40px 0px 40px -7px; 
    padding: 5pt;
    width: auto;
    height: auto;
    }
th{
max-width: 20pt;
}
td{
max-height: 15pt;
}
#infotext {
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
#geschichte {
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
#foto{
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
}
/* Unten wird Beschrieben welche Farbe, Schriftart, Schriftgröße und andere Details im Kalenderstil */
.buttonlinksmonat, .buttonrechtsmonat, .buttonlinksjahr, .buttonrechtsmonat {
    text-align: center;
    background-color: #F7FAFF;        
}

#foto {
    grid-area: foto;
}       
#geschichte {
    grid-area: geschichte;
    margin-left: 6pt;
    margin-top: 0pt;
    margin-bottom: 80pt;
    border-bottom: groove #581845;
    text-align: justify;
    padding-bottom: 35px;
    padding-top: 5px;
}
h1 {
    color: #581845;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
    }
h2 {
    color: #581845;
    font-size: 20pt;
    font-family: Trebuchet MS;
    text-align: auto;
    }
h3 {
    color: black;
    font-size: 15pt;
    font-family: Trebuchet MS;
    text-align: left;
    }
.title {
    color: #581845;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
    }
th {
    min-width: 50pt;
    text-align: center; 
    color: black;
    font-size: 20pt;
    }        
td {
    height: 30pt;
    text-align: center; 
    border-style: none;
    color: black;
    font-size: 15pt;
    font-family: Trebuchet MS;
    }       
.tag {
    border-color: #f0ccf7;
    border-style: groove;
    background-color:#F7FAFF;
    font-size: 20pt;
    }
#titel {
    grid-area: titel;
    text-align: center;
    }
thead  {
    border-style: groove;
    border-color:  #82229A;  
    }     
table {
    grid-area: kalenderblatt;
    padding: 30pt 100pt 30pt 100pt;
    margin: 135pt 100pt 120pt 100pt;
    height: 200pt;
}    
#infotext {
    grid-area: infotext;
    margin-left: 6pt;
    margin-top: 50pt;
    margin-bottom: 10pt;
    border-bottom: groove #581845;
    text-align: justify;
    padding-bottom: 15px;
    }
#Jahr {
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    background-color: #F2E7F4;
    font-size: 20pt;
    }   
#kopf{
    grid-area: kopf;
    margin: 3pt 5pt 3pt 5pt;    
    }
#kalenderblatt {
    grid-area: kalenderblatt;
    padding: 60pt 100pt 60pt 100pt;
    }
li {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}
#Monat {
    text-align: center;
    background-color:#F2E7F4 ;
    font-size: 20pt;
        }        
.monatundjahr {
    border: 3px solid #581845;    
    height: 50;
    background-color: #F2E7F4;
}
p {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}
.samstag, .sonntag {
    background-color: #82229A;
    border-style: groove;   
    }  
.wochentagen {
    background-color: #FCF8FD; 
    border-style: groove;
    border-color: #82229A;
    height: 30pt;
    min-width: 50pt;
    }
.samstagbuchstaben, .sonntagbuchstaben {
    background-color: #82229A;
    }
.lmonat, .nmonat {
    color: gray;
}       