body {
    background-color: #F7FAFF;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:"kopf kopf"
                        "kalenderblatt infotext"
                        "kalenderblatt geschichte"
                        "titel titel"
                        "foto foto"
                        "fuss fuss"
        }
.buttonwochenende, .buttontag {
padding-top: 4px;
padding-right: 10px;
padding-bottom: 6px;
padding-left: 10px;
text-align: center;
font-family: Trebuchet MS;
font-size: 15pt;
border-style: none;
    }

.buttonlinksmonat, .buttonrechtsmonat, .buttonlinksjahr, .buttonrechtsmonat {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: center;
background-color: #F7FAFF;   
border-style: none;
    }
#infotext {
grid-area: infotext;
margin-left: 6pt;
border-style:unset;
border-color: #82229A;


    }
#foto {
grid-area: foto;
    }       
#Jahr {
text-align: center;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
text-align: center;
background-color:#F7FAFF;
font-size: 20pt;
            }   
h1, .title {
color: #581845;
font-size: 30pt;
font-family: Trebuchet MS;
text-align: center;
                }
h1, table, tr,th, td, .buttonlinksmonat, .buttonrechtsmonat, .buttonlinksjahr, .buttonrechtsmonat{
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: center; 
                    }
h2 {
color: #581845;
font-size: 20pt;
font-family: Trebuchet MS;
text-align: auto;
    }
h3 {
color: black;
font-size: 15pt;
font-family: Trebuchet MS;
text-align: left;
    }
#geschichte {
grid-area: geschichte; 
}

#kopf{
grid-area: kopf;
margin: 3pt 5pt 3pt 5pt;    
    }
#kalenderblatt {
grid-area: kalenderblatt;
margin: 100pt 120pt 100pt 120pt;
    }
    
li, p {
font-size: 15pt;
font-family: Trebuchet MS;   
}
#Monat {
    text-align: center;
    background-color:#F7FAFF ;
    font-size: 20pt;
        }
                
.tag {
border-color: #F2E7F4;
border-style: groove;
background-color:#F7FAFF;
font-size: 20pt;

    }
.buttontag {
background-color: #F7FAFF;    
    }
        
#titel {
grid-area: titel;
text-align: center;
    }
th {
color: black;
font-size: 20pt;
    }
td {
border-style: none;
color: black;
font-size: 15pt;
font-family: Trebuchet MS;
text-align: center;
    }       
.wochentagen {
background-color: #F6E4FB;
    }
.samstagbuchstaben, .sonntagbuchstaben {
background-color: #82229A;
    }
.samstag, .sonntag, .buttonwochenende {
background-color: #F7FAFF;
    }
.samstag, .sonntag {
border-style: groove;
border-color: #82229A;    
}

#obenereihe {
border-style: groove;
border-color:  #82229A;   
   }     
           
