
/* In Body würde die minimale Bildschirmauflösung, Hintergrundfarbe bestimt. Mithilfe grid-template-areas wird Bildschirm in bestimte Zonen verteilt. */
/* Bildschirm hat 3 Columns (die mithilfe von grid-template-columns bestimte Breite hat) und 6 Zeilen*/
body {
    min-width: 460px;
    background-color: #F7FAFF;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-areas:"kopf kopf kopf"
                        "kalenderblatt infotext platz"
                        "kalenderblatt geschichte platz"
                        "titel titel titel"
                        "foto foto foto"
                        "fuss fuss fuss"
}


/* Die linke Monats Taste. Von oben nach unten: Höhe in pixel; Breite in pixel; Begrenzung; Schriftstil; obere und rechte Einzug 
in pixel; Rundung die Ecken von Begrenzung; Schriftgroße; Versetzung einen flexiblen Container-Modus, der das Flexbox-Layout verwendet;
justify-content ist ein Mittel, der hilft horizontale Ausrichtung von Elementen innerhalb eines flexiblen Containers zu steuern;
align-items ist ein Mittel; der hilft vertikale Ausrichtung von Elementen innerhalb eines flexiblen Containers zu steuern
Hintergrundfarbe; Verwendung von Schaten*/
#buttonLinksMonat {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 204, 207);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}


/* Die rechte Monats Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonRechtsMonat {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 204, 207);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
}


/* Die linke Jahr Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonLinksJahr {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 204, 207);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
}


/* Die rechte Jahr Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonRechtsJahr {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 204, 207);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
}


/* Stil für Fotos */
#foto {
    grid-area: foto;
}


/* Geschichte Abschnit. Von oben nach unten: Posizionirung von Abschnit in "geschichte" Area; linke Einzug 
in pixel; untere Begrenzung; text-align beschreibt wie horizontale Ausrichtung von Elementen innerhalb eines flexiblen Containers 
zu steuern; Untere und Obere Enzug innerhalb von Objekt Grenze; die Höhe*/
#geschichte {
    grid-area: geschichte;
    margin-left: 6pt;
    /* margin-top: 0pt;
    margin-bottom: 80pt; */
    border-bottom: groove rgb(25, 124, 128);
    text-align: justify;
    padding-bottom: 35px;
    padding-top: 5px;
    height: auto;
}


/*Überschrifte "Kalender von" und "Fotos". Von oben nach unten: Schriftfarbe; Schriftgroße; Schriftstil; Zentrirung des Texstes
Hintergrundfarbe; Rundung von Ecken */
h1 {
    color: white;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
    background-color: rgb(57, 150, 153);
    border-radius: 5px;
}


/* Überschriften "Information" und "Historische ...". Von oben nach unten: Schriftfarbe; Schriftgroße; Schriftstil; Text 
wird automatisch auf die Seite verteilt */
h2 {
    color: rgb(25, 124, 128);
    font-size: 20pt;
    font-family: Trebuchet MS;
    text-align: auto;
    
}


/* .title {
    color: #581845;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
} */


/* Stil für Tagen in die Kalender. Von oben nach Unten: Begrenzungs Farbe; Begrenzungs Stil; Rundung die Begrenzungs
Ecken; Hintergrundfarbe; Höhe und Breite; Schriftfarbe; Schriftgroße; Schriftstil; Versetzung einen flexiblen Container-Modus, 
der das Flexbox-Layout verwendet; justify-content ist ein Mittel, der hilft horizontale Ausrichtung von Elementen innerhalb eines 
flexiblen Containers zu steuern; align-items ist ein Mittel, der hilft vertikale Ausrichtung von Elementen innerhalb eines flexiblen 
Containers zu steuern; Obere und Untere Einzug */
.tag {
    border-color:rgb(80, 192, 196);
    border-style: hidden;
    border-radius: 25%;
    background-color:#F7FAFF;
    width: 40pt;
    height: 30pt; 
    color: black;
    font-size: 15pt;
    font-family: Trebuchet MS;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3pt;
    margin-bottom: 3pt;
    font-weight: bold;
}


/* Posizionirung für Überschrift "Fotos". Von oben nach unten: Posizionirung in titel bereich; Zentrierung des Texstes */
#titel {
    grid-area: titel;
    text-align: center;
}


/* Stil für Information bereich. Von oben nach unten: Posizionirung des textes in infotext bereich; Linke, obere und untere Einzug;
Unterschtrich unten (Stil und Farbe); text-align beschreibt wie horizontale Ausrichtung von Elementen innerhalb eines flexiblen Containers 
zu steuern; untere Enzug innerhalb von Objekt Grenze; passende Höhe   */
#infotext {
    grid-area: infotext;
    margin-left: 6pt;
    margin-top: 30pt;
    margin-bottom: 10pt;
    border-bottom: groove rgb(25, 124, 128);
    text-align: justify;
    padding-bottom: 15px;
    height: auto;
}


/* Stil für Jahr in Kalender Tabele. Von oben nach unten: obere, rechte, untere und linke Enzug innerhalb von Objekt Grenze; 
Zentrirung des Texstes; Hintergrundfarbe; Schriftgroße; Schriftstil*/
#jahr {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    background-color: rgb(116, 204, 207);
    font-size: 20pt;
    font-family: Trebuchet MS;
    color: white;
    }


/*  Posizionirung der Überschrift "Kalender  vom..." in kopf Bereich und Einzug von ganzes Objekt */
#kopf{
    grid-area: kopf;
    margin: 3pt 5pt 3pt 5pt;    
}


/*Stil für Begrenzung des Kalenders. Von oben nach unten: Breite, Stil, und die Farbe von Begrenzung; Rundung von Begrenzung; 
Hintergrundfarbe; mit hilfe overflow: hidden wird den Hintergrundfarbe in Kalender box aufgepasst(gerundet), ohne diesen Mittel kann man 
die Ecken von Hintergrund sehen; auto Höhe; Breite in pixel; untere Einzug in der Element; */
.borderKalendar{
    border: 3px groove rgb(80, 192, 196);
    border-radius: 10px;
    background-color: rgb(116, 204, 207);
    overflow: hidden;
    height: auto;
    width: 450px;
    padding-bottom: 5px;
}


/* Posizionirung von Kalenderblatt. Von oben nach unten: Position auf die Seite in Kalenderblatt Bereich; Linke und obere Einzug in
points; Untere Einzug ist auto; Rechte Einzug in points; Einzug innerhalb des Elementes in pixel*/
.kalenderblatt {
    grid-area: kalenderblatt;
    margin-left: 120pt;
    margin-top: 100pt;
    margin-bottom: auto;
    margin-right: 130pt;
    padding-left: 5px;
        
    }


/* Stil für Text in "Historische...". Schriftgroße und Schriftstil; */
li {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}


/* Stil für Monat in die Kalenderblatt. Von oben nach unten: Zentrierung des Texstes; Hintergrundfarbe; Schriftgroße und -stil;
obere, rechte,untere, linke Einzug innerhalb des Elementes; Farbe;*/
#monat {
    text-align: center;
    background-color:rgb(116, 204, 207)2E7F4 ;
    font-size: 20pt;
    font-family: Trebuchet MS;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
}


/*Stil für Text unten der "Information Überschrift". Schriftgroße und -stil;  */
p {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}


/* Schriftfarbe für Samstag und Sontag in die Kalender */
.wochenende {
    color: white;
    /* color: #c20404; */
    }
    
    
/*Schriftfarbe für Wochenende (Zahlen) in die Kalender  */
.weekend {
    color: rgb(25, 124, 128);
}

/* Stil für Wochentage (Mo,Do usw). Von oben nach unten: Verteilung alle Elemente in "Tabele" die 7 schpalte hat, "1fr" bedeutet 
die große von schpalte; Höhe und Breite in points; Zentrierung des Texstes; Schriftgroße und -stil; Versetzung einen flexiblen 
Container-Modus, der das Flexbox-Layout verwendet; justify-content ist ein Mittel, der hilft horizontale Ausrichtung von Elementen 
innerhalb eines flexiblen Containers zu steuern; align-items ist ein Mittel, der hilft vertikale Ausrichtung von Elementen innerhalb 
eines flexiblen Containers zu steuern;*/

.wochentagen {
    grid-template-columns: 7, 1fr;
    height: 30pt;
    width: 40pt;
    text-align: center;
    font-size: 20pt;
    font-family: Trebuchet MS;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stil für Kalenderkopf (Monat, Jahr, Button). Von oben nach unten: Verteilung alle Elemente in "Tabele" die 7 schpalte hat; 
display: grid wird verwendet, um eine Raster (grid) von Elementen zu erschtellen; Einzeg auf alle Seiten in points */
.gridHead {
    grid-template-columns:repeat(7, 1fr);
    display: grid;
    padding: 10pt 20pt 10pt 20pt;

/* Stil für Wochentagen. Von oben nach unten: Verteilung alle Elemente in "Tabele" die 7 schpalte hat; 
display: grid wird verwendet, um eine Raster (grid) von Elementen zu erschtellen; Obere Begrenzung (Breite in pixel, Stil und Farbe) */
    
}

/* Stil für Wochentagen. Von oben nach unten: Verteilung alle Elemente in "Tabele" die 7 schpalte hat; 
display: grid wird verwendet, um eine Raster (grid) von Elementen zu erschtellen; Obere Begrenzung (Breite in pixel, Stil und Farbe) */
.gridWochentag {
    grid-template-columns:repeat(7, 1fr);
    display: grid;
    border-top: 3px groove rgb(80, 192, 196);
    /* border-bottom: 3px groove #E1B8E8;  */
}     

/* Farbe für Tage, der vorherige und nächste Monat  */
.otherMonth {
    color: lightgray
}


/* .searchBox {
    grid-template-columns: 2fr 2fr 4fr;
} */

.today {
    background-color:rgb(20, 171, 177);;

}

.feiertag{
    background-color: red;
}




/* Meta Tag in CSS gibt  das Wert für Größe und Form des Ansichtsfensters, verschibt Infotext, Überblick in die geschichte und Fotos unter die Kalendar*/
/* Bestimmt wie Groß wird "padding" (für jedes Element) auf die Geräten, dessen Bildschirmbreite weniger als 900px ist */
@media only screen and (max-width: 900px) {
    
/*In Body würde die minimale Bildschirmauflösung, Hintergrundfarbe bestimt. Mithilfe grid-template-areas wird Bildschirm in bestimte Zonen verteilt.
Bildschirm hat 3 Columns (die mithilfe von grid-template-columns bestimte Breite hat) und 6 Zeilen  */
    body {
        display: block;
        margin: 0px;
        padding-top: 2%;
        padding-bottom: 2%;    
        padding-left: 2%;
        padding-right: 2%; 
        grid-template-columns: 1fr 3fr 0.5fr;
        grid-template-areas:"kopf kopf kopf"
                            "kalenderblatt infotext platz"
                            "kalenderblatt geschichte platz"
                            "titel titel titel"
                            "foto foto foto"
                            "fuss fuss fuss"                     

                    }

    
    
    .kalenderblatt {
        margin: 40px 0px 40px -7px; 
        padding: 5pt;
        height: 400px;
        width: 440px;
        margin-left: 2pt;
        margin-top: 30pt;
        margin-right: 2pt;
                }
    
    
    
    h1 {
        font-size: 30pt;
        font-family: Trebuchet MS;
        text-align: center;
        border-radius: 25px;
        width: 300pt;
        }
    
    
    
    .borderKalendar {
        margin: 40px 0px 40px -7px; 
        padding: 5pt;
        height: auto;
        width: 300pt;
        margin-left: 2pt;
        margin-top: 30pt;
        margin-right: 0pt;
                    }
    
    
    
    .kalenderblatt{
        padding-left: 3px;
        padding-right: 6pt;
                    }

    #infotext {
        width: 300pt;
        height: auto;
        /* margin: 40px 2px 40px 2px; */
                }



    #geschichte {
        width: 300pt;
        height: auto;
        /* margin: 40px 2px 40px 2px; */
                }
    #foto{
        width: 315pt;
        height: auto;
        /* margin: 40px 2px 40px 2px; */
            }
}


