
/* In Body würde die minimale Bildschirmauflösung, Hintergrundfarbe bestimt. Mithilfe grid-template-areas wird Bildschirm in bestimte Zonen verteilt. */
/* Bildschirm hat 3 Columns (die mithilfe von grid-template-columns bestimte Breite hat) und 6 Zeilen*/
body {
    min-width: 460px;
    background-color: #F7FAFF;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-areas:"kopf kopf kopf"
                        "kalenderblatt infotext platz"
                        "kalenderblatt geschichte platz"
                        "titel titel titel"
                        "foto foto foto"
                        "fuss fuss fuss"
}
/* Meta Tag in CSS gibt  das Wert für Größe und Form des Ansichtsfensters, verschibt Infotext, Überblick in die geschichte und Fotos unter die Kalendar*/
/* Bestimmt wie Groß wird "padding" (für jedes Element) auf die Geräten, dessen Bildschirmbreite weniger als 900px ist */
@media only screen and (max-width: 900px) {
body {
    display: block;
    margin: 0px;
    padding-top: 2%;
    padding-bottom: 2%;    
    padding-left: 2%;
    padding-right: 2%; 
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-areas:"kopf kopf kopf"
                        "kalenderblatt infotext platz"
                        "kalenderblatt geschichte platz"
                        "titel titel titel"
                        "foto foto foto"
                        "fuss fuss fuss"                     

}

#kalenderblatt {
    margin: 40px 0px 40px -7px; 
    padding: 5pt;
    width: auto;
    height: auto;
    }
th{
max-width: 20pt;
}
td{
max-height: 15pt;
}
#infotext {
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
#geschichte {
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
#foto{
    margin: 40px 0px 40px -7px;
    width: auto;
    height: auto;
    
}
}
/* Die linke Monats Taste. Von oben nach unten: Höhe in pixel; Breite in pixel; Begrenzung; Schriftstil; obere und rechte Einzug 
in pixel; Rundung die Ecken von Begrenzung; Schriftgroße; Versetzung einen flexiblen Container-Modus, der das Flexbox-Layout verwendet;
justify-content ist ein Mittel, der hilft horizontale Ausrichtung von Elementen innerhalb eines flexiblen Containers zu steuern;
align-items ist ein Mittel; der hilft vertikale Ausrichtung von Elementen innerhalb eines flexiblen Containers zu steuern
Hintergrundfarbe; Verwendung von Schaten*/
#buttonLinksMonat {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 235, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* Die rechte Monats Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonRechtsMonat {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 235, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* Die linke Jahr Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonLinksJahr {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 235, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* Die rechte Jahr Taste, mit gleiche Eigenschaften wie "buttonLinksMonat" */
#buttonRechtJahr {
    height: 30px;
    width: 40px;
    border: none;
    font-family: Trebuchet MS;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 350%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 235, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* Stil für Fotos */
#foto {
    grid-area: foto;
}       
/* Geschichte Abschnit. Von oben nach unten: Posizionirung von Abschnit in "geschichte" Area; linke Einzug 
in pixel; untere Begrenzung; */
#geschichte {
    grid-area: geschichte;
    margin-left: 6pt;
    /* margin-top: 0pt;
    margin-bottom: 80pt; */
    border-bottom: groove #581845;
    text-align: justify;
    padding-bottom: 35px;
    padding-top: 5px;
    height: 500px;
}
h1 {
    color: #581845;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
    }
h2 {
    color: #581845;
    font-size: 20pt;
    font-family: Trebuchet MS;
    text-align: auto;
    }
h3 {
    color: black;
    font-size: 15pt;
    font-family: Trebuchet MS;
    text-align: left;
    }
.title {
    color: #581845;
    font-size: 30pt;
    font-family: Trebuchet MS;
    text-align: center;
    }
.tag {
    border-color: #f0ccf7;
    border-style: groove;
    border-radius: 25%;
    background-color:#F7FAFF;
    width: 40pt;
    height: 30pt; 
    color: black;
    font-size: 15pt;
    font-family: Trebuchet MS;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#titel {
    grid-area: titel;
    text-align: center;
    }  
#infotext {
    grid-area: infotext;
    margin-left: 6pt;
    margin-top: 50pt;
    margin-bottom: 10pt;
    border-bottom: groove #581845;
    text-align: justify;
    padding-bottom: 15px;
    height: 100px;
    }
#jahr {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    background-color: #F2E7F4;
    font-size: 20pt;
    font-family: Trebuchet MS;
    }   
#kopf{
    grid-area: kopf;
    margin: 3pt 5pt 3pt 5pt;    
    }
#kalenderblatt {
    grid-area: kalenderblatt;
    /* border-collapse: collapse; */
     padding: 5pt 5pt 5pt 5pt; 
    /* margin: 15pt 10pt 15pt 15pt; */
    height: 200pt;
    gap: 0px;
/* 
    padding: 5pt 5pt 5pt 5pt;
    margin: 1pt 1pt 1pt 1pt;
    height: 190pt;
    gap: 0px;
    width: 330pt; */
    
    }
li {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}
#monat {
    text-align: center;
    background-color:#F2E7F4 ;
    font-size: 20pt;
    font-family: Trebuchet MS;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}        
p {
    font-size: 15pt;
    font-family: Trebuchet MS;   
}
.wochenende {
    color: #C77FDC;
    filter: brightness(80%);
    }  
.wochentagen {
    grid-template-columns: repeat(7, 1fr);
    height: 30pt;
    width: 40pt;
    text-align: center;
    font-size: 20pt;
    font-family: Trebuchet MS;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .samstagbuchstaben, .sonntagbuchstaben {
    background-color: #82229A;
    } */

.gridHead {
    grid-template-columns:repeat(7, 1fr);
    display: grid;
    padding: 10pt 20pt 10pt 20pt;
    
}
.gridWochentag {
    grid-template-columns:repeat(7, 1fr);
    display: grid;
    border-top: 3px groove #E1B8E8;
    /* border-bottom: 3px groove #E1B8E8;  */
}     
.borderKalendar{
    border: 3px groove #E1B8E8;
    border-radius: 10px;
    /* margin: 80pt 60pt 80pt 60pt; */
    background-color: #F2E7F4;
    overflow: hidden;
    height: 400px;
    width: 450px;
    margin-left: 120pt;
    margin-top: 100pt;
    margin-right: 40pt;
}
/* .borgerKalender:nth-child(1){
    border: 3px groove #f0ccf7;
    filter: brightness(80%);
} */
/* 
passt gut für unaktive tagen
 color: #E6D2F7;
    filter: brightness(80%);
*/